@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);

  --color-background: #FAFAFA;
  --color-surface: #FFFFFF;
  --color-border: #E5E7EB;
  
  --color-heading: #111827;
  --color-body: #4B5563;
  
  --color-accent: #2563EB;
  --color-accent-hover: #1D4ED8;
}

body {
  background-color: var(--color-background);
  color: var(--color-heading);
}